# Flutter / Dart build artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android build outputs
android/.gradle/
android/app/build/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/local.properties
